*{
    font-family: Arial, Helvetica, sans-serif ;
}
.Header{
    height: 80px;
    background-color: rgb(255, 204, 0);
}
.footer{
    background-color: rgb(12, 24, 200);
    height: 100px;
}
.btn-submit{
    border-radius: 15px;
    width: 150px;
    height: 35px;
}